{% if cookie_cart %}
<script>
/* https://stackoverflow.com/a/24103596 */
function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
function eraseCookie(name) {   
    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}
function get_cart_item() {
    var cookie = getCookie('{{ cookie_cart }}') || '';
    cookie = decodeURIComponent(cookie);
    var items = (function(a) {
        var obj = {};
        for(var i in a) {
            var x = a[i].trim().split(':');
            if (x.length != 2) continue;
            obj[x[0]] = Number(x[1])
        }
        return obj;
    })(cookie.split('|'));
    return items;
}
document.addEventListener("DOMContentLoaded", function(e) {
    {% if not page_id %}
    document.querySelectorAll('a.addtocart').forEach(function(ele) {
        ele.addEventListener('click', function(e) {
            e.preventDefault();
            var items = get_cart_item();
            var obj = e.target.dataset;
            if (obj.id) {
                if (items.hasOwnProperty(obj.id)) {
                    var qty = items[obj.id];
                    if (isNaN(qty) || qty < 0) {
                        qty = 0;
                    }
                    qty++;
                    items[obj.id] = qty;
                } else {
                    items[obj.id] = 1;
                }
                var arr = [];
                for(var k in items) {
                    arr.push(k+':'+items[k].toString());
                }
                setCookie('{{ cookie_cart }}', arr.join('|'), 365);
                e.target.innerText = 'Added !';
            }
            return false;
        }, false);
    });
    {% endif %}
    {% if page_id and page_id == "cart" %}
    var number_format = function (number, decimals, dec_point, thousands_sep) {
        if (parseFloat(number) == 0.0) return "0";
        number = (number + '').replace(/[^0-9+\-Ee.]/g, '');
        var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function (n, prec) {
            var k = Math.pow(10, prec);
            return '' + (Math.round(n * k) / k).toFixed(prec);
        };
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    };
    document.querySelectorAll('a.removeitem').forEach(function(ele) {
        ele.addEventListener('click', function(e) {
            e.preventDefault();
            var obj = e.target.dataset;
            if (obj.id) {
                var items = get_cart_item();
                if (items.hasOwnProperty(obj.id)) {
                    delete items[obj.id];
                }
                var arr = [];
                for(var k in items) {
                    arr.push(k+':'+items[k].toString());
                }
                setCookie('{{ cookie_cart }}', arr.join('|'), 365);
                document.querySelectorAll('tr#item-'+obj.id).forEach(function(el) {
                    el.remove();
                });
                if(document.querySelectorAll('table tr').length == 0) {
                    document.querySelector('table').remove();
                    document.querySelector('main').innerHTML = '<div class="message warning"><p>No item in cart, <a href="{{ url_for(".homepage") }}">shoping now</a></p></div>';
                }
            }
            return false;
        }, false);
    });
    document.querySelectorAll('input[type="number"]').forEach(function(ele) {
        ele.addEventListener('change', function(e) {
            var val = e.target.value;
            var id = e.target.getAttribute('name').replace('qty[','').replace(']','').trim();
            var items = get_cart_item();
            if (items.hasOwnProperty(id)) {
                var qty = Number(val);
                if (isNaN(qty) || qty < 0) {
                    qty = 0;
                }
                items[id] = qty;
                var arr = [];
                for(var k in items) {
                    arr.push(k+':'+items[k].toString());
                }
                setCookie('{{ cookie_cart }}', arr.join('|'), 365);
                var subtotal = 0;
                document.querySelectorAll('table tr').forEach(function(el) {
                    if (el.querySelector('td:nth-child(4)')) {
                        var qty = Number(el.querySelector('input[type="number"]').value.trim());
                        /* https://stackoverflow.com/a/9409894 */
                        var price = Number(el.querySelector('td:nth-child(4)').innerText.replace(/[^\d.-]/g, ''));
                        subtotal += qty * price;
                    }
                });
                setTimeout(function(s) {
                    document.querySelector('table tr:last-child td:last-child').innerHTML = number_format(s) + '&#8363;';
                }, 500, subtotal);
            }
        }, false);
    });
    {% endif %}
}, false);
</script>
{% endif %}
