{% extends 'layout.html' %}
{% block head %}
<title></title>
<style>
</style>
{% endblock %}
{% block navi %}
{% endblock %}
{% block content %}
<main>
{% if items and items | length > 0 %}
    <table>
    {% for item in items %}
    <tr id="item-{{ item.id }}">
        <td><a class="removeitem" href="{{ url_for(".removeitem",id=item.id) }}" data-id="{{ item.id }}">x</a></td>
        <td>{{ item.name }}</td>
        <td><input type="number" value="{{ item.quantity }}" /></td>
        <td>{{ "{:,}".format(item.discounted|int) }} VNĐ</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
<div class="message warning">
    <p>No item in cart, <a href="{{ url_for(".homepage") }}">shoping now</a></p>
</div>
{% endif %}
</main>
{% include 'cartjs.html' %}
{% endblock %}
