{% extends 'layout.html' %}
{% block head %}
<title>{{ product.name }}</title>
<!-- https://webcode.tools/generators/open-graph/product -->
{% if product %}
<meta property="og:type" content="product">
<meta property="og:title" content="{{ product.name | safe }}">
<meta property="og:url" content="{{ url_for(".detail_product",name=product.slug) }}">
<meta property="og:image" content="{{ site_url }}/products/{{ product.image }}">
<meta property="og:description" content="{{ product.description | replace("\n"," ") | safe }}">
<meta property="product:plural_title" content="{{ product.name | safe }}">
<meta property="product:price.amount" content="{{ product.regular_price }}">
<meta property="product:price.currency" content="VND">
{% endif %}
{% endblock %}
{% block navi %}
{% endblock %}
{% block content %}
<main>
{% if product %}
    <h1>{{ product.name }}</h1>
    <img src="{{ site_url }}/products/{{ product.image }}" alt="{{ product.name | safe }}" title="{{ product.name | safe }}" />
    <p>
        <strong>{{ "{:,}".format(product.discounted_price | int) }}&#8363;</strong>
        {% if product.regular_price != product.discounted_price %}
        <del>{{ "{:,}".format(product.regular_price | int) }}&#8363;</del>
        {% endif %}
    </p>
    {% if product.description %}
    <div>
        {{ product.description | markdown }}
    </div>
    {% endif %}
    <a href="{{ url_for(".addtocart",id=product.id) }}" class="addtocart" data-id="{{ product.id }}" data-quantity="1">Add to cart</a>
{% endif %}
{% if others %}
    <ul>
    {% for prd in others %}
    <li>
        <article id="product-{{ prd.id }}">
            <a href="{{ url_for(".detail_product",name=prd.slug) }}">
                <img src="{{ site_url }}/thumbnail/{{ prd.image }}" alt="{{ prd.name | safe }}" title="{{ prd.name | safe }}" />
            </a>
            <h3><a href="{{ url_for(".detail_product",name=prd.slug) }}">{{ prd.name }}</a></h3>
            <p>
                <strong>{{ "{:,}".format(prd.discounted_price | int) }}&#8363;</strong>
                {% if prd.regular_price != prd.discounted_price %}
                <del>{{ "{:,}".format(prd.regular_price | int) }}&#8363;</del>
                {% endif %}
            </p>
            <a href="{{ url_for(".addtocart",id=prd.id) }}" class="addtocart" data-id="{{ prd.id }}" data-quantity="1">Add to cart</a>
        </article>
    </li>
    {% endfor %}
    </ul>
{% endif %}
</main>
{% include 'cartjs.html' %}
{% endblock %}
